<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>slice01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,70},{17,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,33}}</string>
				<key>sourceSize</key>
				<string>{17,33}</string>
			</dict>

			<key>slice02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{22,32}</string>
			</dict>

			<key>slice03_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,33},{22,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,33}}</string>
				<key>sourceSize</key>
				<string>{22,33}</string>
			</dict>

			<key>slice04_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,70},{18,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,34}}</string>
				<key>sourceSize</key>
				<string>{18,34}</string>
			</dict>

			<key>slice05_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,67},{20,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,35}}</string>
				<key>sourceSize</key>
				<string>{20,35}</string>
			</dict>

			<key>slice06_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,35},{19,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,34}}</string>
				<key>sourceSize</key>
				<string>{19,34}</string>
			</dict>

			<key>slice07_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{21,67},{20,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,35}}</string>
				<key>sourceSize</key>
				<string>{20,35}</string>
			</dict>

			<key>slice08_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,0},{19,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,34}}</string>
				<key>sourceSize</key>
				<string>{19,34}</string>
			</dict>

			<key>slice09_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,69},{17,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,34}}</string>
				<key>sourceSize</key>
				<string>{17,34}</string>
			</dict>

			<key>slice10_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,34},{17,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,34}}</string>
				<key>sourceSize</key>
				<string>{17,34}</string>
			</dict>

			<key>slice11_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,0},{18,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,34}}</string>
				<key>sourceSize</key>
				<string>{18,34}</string>
			</dict>

			<key>slice12_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{17,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,33}}</string>
				<key>sourceSize</key>
				<string>{17,33}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>