# Android
proj.android/assets/
proj.android/bin/
proj.android/gen/
proj.android/libs/
proj.android/obj/
proj.android/local.properties
proj.android/proguard-project.txt

# iOS/Mac
proj.ios_mac/build/
proj.ios_mac/Copong.xcodeproj/project.xcworkspace/xcuserdata/
proj.ios_mac/Copong.xcodeproj/project.xcworkspace/xcshareddata/
proj.ios_mac/Copong.xcodeproj/xcuserdata/
proj.ios_mac/Copong.xcodeproj/xcshareddata/

# Win32
proj.win32/Debug.win32/
proj.win32/Release.win32/
proj.win32/Copong.opensdf
proj.win32/Copong.sdf
proj.win32/Copong.v12.suo
proj.win32/game.aps

# Misc
build/
/cocos2d
