# Android
proj.android/assets/
proj.android/bin/
proj.android/gen/
proj.android/libs/
proj.android/obj/
proj.android/local.properties
proj.android/proguard-project.txt

# iOS/Mac
proj.ios_mac/build/
proj.ios_mac/SantaShooter.xcodeproj/project.xcworkspace/xcuserdata/
proj.ios_mac/SantaShooter.xcodeproj/project.xcworkspace/xcshareddata/
proj.ios_mac/SantaShooter.xcodeproj/xcuserdata/
proj.ios_mac/SantaShooter.xcodeproj/xcshareddata/

# Win32
proj.win32/Debug.win32/
proj.win32/Release.win32/
proj.win32/SantaShooter.opensdf
proj.win32/SantaShooter.sdf
proj.win32/SantaShooter.v12.suo

# Misc
build/
/cocos2d
